# These 3 are required if this is not a gradle project (but you want to import the project into eclipse)
# These are created by eclipse so that it can understand some configurations for this project(for example which is source directory )
.classpath
.project
#This one is needed by eclipse only when you have special configurations setup in eclipse for this project
.settings/


# this is for mac
*.DS_Store
**/.DS_Store

.gradle/
bin/
build/
gen/
